/* You can add global styles to this file, and also import other style files */
body, div, span{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, span, p, a, button, input, label, select, option, textarea{
    font-family: 'Lalezar', system-ui;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}