<form 
  (ngSubmit)="onSubmit()" 
  [formGroup]="fg"
>
  <div class="income-entry">
    <div class="row">
      <mat-form-field>
        <mat-label>Source</mat-label>
        <input 
          matInput placeholder="source of income"
          formControlName="source"
        >
      </mat-form-field>
    </div>
    <div class="row2">
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input 
          matInput placeholder="Amount"
          formControlName="amount"
          type="number"
        >
      </mat-form-field>
    </div>
    <div class="row2">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="dp3" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row right-align margin-top">
      <button mat-raised-button color="secondary"
        (click)="onCancel();"
      >Cancel</button>
      <button mat-raised-button color="primary"
        (click)="onSubmit();"
      >Save</button>
    </div>
  </div>
</form>