@use 'variable';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$general-accounting-system-primary: mat.define-palette(mat.$indigo-palette);
$general-accounting-system-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$general-accounting-system-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$general-accounting-system-theme: mat.define-light-theme((
  color: (
    primary: $general-accounting-system-primary,
    accent: $general-accounting-system-accent,
    warn: $general-accounting-system-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($general-accounting-system-theme);


/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
}
body, div, span{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1, h2, h3, h4, h5, span, p, a, button, input, label, select, option, textarea{
    font-family: 'Lalezar', system-ui;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.row, .row2{
    display: flex;
    padding: 0rem 0.5rem;
    align-items: center;
    gap: 0.5rem;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
}
.mat-mdc-form-field{
    width:100%;
}

.row2{
    margin-top:1rem;
}


.right-align{
    justify-content: flex-end;
}

common-input, input{
    width: -webkit-fill-available;
}

.margin-top{
    margin-top:1rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
